<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/404.css">
</head>
<body>

<main class="container">

    <div class="error">
        <h1>404</h1>
        <p>Page not found</p>
        <a href="/">Go back to the main page</a>
    </div>

</main>

</body>
</html>
