<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Page d'administration</title>
    <link rel="stylesheet" href="/public/css/admin.css">
</head>
<body>
<h1>Page d'administration</h1>

<div class="affichage-tables">
    <a href="http://localhost:3000/team">Afficher les équipes</a>
    <a href="http://localhost:3000/jerseys">Afficher les maillots</a>
    <a href="http://localhost:3000/reductions">Afficher les réductions</a>
    <a href="http://localhost:3000/users">Afficher les utilisateurs</a>
</div>
<div class="pages">
    <a href="/addTeam">Ajouter une équipe</a>
    <a href="/addJersey">Ajouter un maillot</a>
    <a href="/addreduction">Créer une réduction</a>
</div>
<div class="pages">
    <a href="/register">Créer un compte</a>
    <a href="/login">Page de connexion</a>
</div>
</body>
</html>