<div class="navigation-menu">
    <box-icon id="closeButton" onClick="closeBurger()" name='x' color='black'></box-icon>
    <ul>
        <li class="burger__liste"><a href="/teams">Teams</a></li>
        <li class="burger__liste"><a href="/shop">Shop</a></li>
        <li class="burger__liste"><a id="login__burger__button" href="/login">Login</a></li>
        <li class="burger__liste"><box-icon id="panier__button__mobile" name='basket' type='solid' color='#000000'></box-icon></li>
    </ul>
</div>