<header class="home__header">
    <div class="left__header__content">
        <a href="/" class="purple__title">Jersey<span class="white__title">shop</span></a>
    </div>
    <div class="mid__header__content">
        <a id="teams__page__button" href="/teams">Teams</a>
        <a id="shop__page__button" href="/shop">Shop</a>
    </div>
    <div class="right__header__content">
        <a id="login__button"></a>
        <box-icon id="panier__button" name='basket' type='solid' color='#ffffff'></box-icon>
    </div>

    <div class="burger-menu">
        <box-icon id="panier__button__reduit" name='basket' type='solid' color='#ffffff'></box-icon>
        <box-icon id='burger-button' name='menu' rotate='180' color='#ffffff' onclick="openBurger()"></box-icon>
    </div>
</header>
