<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/index.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css">
</head>

<body>
<div class="navigation-menu">
    <ul>
        <li class="burger__liste"><a href="/teams">Teams</a></li>
        <li class="burger__liste"><a href="/shop">Shop</a></li>
        <li class="burger__liste"><a id="login__burger__button" href="/login">Login</a></li>
        <li class="burger__liste"><box-icon name='basket' type='solid' color='#000000'></box-icon></li>
    </ul>
</div>

<main class="container">
    <header class="home__header">
        <div class="left__header__content">
            <a href="/" class="purple__title">Jersey<span class="white__title">shop</span></a>
        </div>
        <div class="mid__header__content">
            <a href="/teams">Teams</a>
            <a href="/shop">Shop</a>
        </div>
        <div class="right__header__content">
            <a id="login__button"></a>
            <box-icon name='basket' type='solid' color='#ffffff'></box-icon>
        </div>
        <div class="burger-menu">
            <box-icon id="basket-button" name='basket' type='solid' color='#ffffff'></box-icon>
            <box-icon id='burger-button' name='menu' rotate='180' color='#ffffff' onclick="openBurger()"></box-icon>
        </div>
    </header>

    <div class="content-div">
        <h1 class="title">Victory starts here</h1>
        <h2 class="description">Welcome to the world's leading jersey shop</h2>
        <div class="main__image__container">
            <img src="/public/img/cup.png" alt="Jersey">
        </div>
        <div class="bottom__content">
            <h3 class="bottom__title">Get your <span>jersey</span> now and join the <span>adventure</span> !</h3>
            <img id="shop__button" src="/public/img/shop.png" alt="Shop">
        </div>
    </div>
</main>

<script src="/public/js/index.js"></script>
<script src="/public/js/burger.js"></script>
<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</body>

</html>
