<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/index.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css">
</head>

<body>
    <!-- Ajouté juste après la balise <body> -->
    <div class="navigation-menu">
        <ul>
            <li class="burger__liste"><a href="#home">Home</a></li>
            <li class="burger__liste"><a href="#teams">Teams</a></li>
            <li class="burger__liste"><a href="#shop">Shop</a></li>
            <li class="burger__liste"><a href="#login">Login</a></li>
        </ul>
    </div>

    <main class="container">
        <header class="home__header">
            <div class="left__header__content">
                <p class="purple__title">Jersey<span class="white__title">shop</span></p>
            </div>
            <div class="mid__header__content">
                <p>Teams</p>
                <p>Shop</p>
            </div>
            <div class="right__header__content">
                <p class="login__button">Login</p>
                <box-icon name='basket' type='solid' color='#ffffff'></box-icon>
            </div>
            <div class="burger-menu">
                <box-icon id='burger-button' name='menu' rotate='180' color='#ffffff' onclick="openBurger()"></box-icon>
            </div>
        </header>

        <div class="content-div">
            <div class="hero">
                <img src="../public/img/test2.png" alt="Hero image">
            </div>
        </div>
    </main>

    <script src="/public/js/index.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</body>

</html>