<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boutique</title>
    <link rel="stylesheet" href="/public/css/jersey.css">
</head>

<body>
<div class="navigation-menu">
    <ul>
        <li class="burger__liste"><a href="/teams">Teams</a></li>
        <li class="burger__liste"><a href="/shop">Shop</a></li>
        <li class="burger__liste"><a href="/login">Login</a></li>
        <li class="burger__liste"><box-icon name='basket' type='solid' color='#000000'></box-icon></li>

    </ul>
</div>

<main class="container">
    <header class="home__header">
        <div class="left__header__content">
            <a href="/" class="purple__title">Jersey<span class="white__title">shop</span></a>
        </div>
        <div class="mid__header__content">
            <a id="teams__page__button" href="/teams">Teams</a>
            <a id="shop__page__button" href="/shop">Shop</a>
        </div>
        <div class="right__header__content">
            <a id="login__button"></a>
            <box-icon name='basket' type='solid' color='#ffffff'></box-icon>
        </div>
        <div class="burger-menu">
            <box-icon id="basket-button" name='basket' type='solid' color='#ffffff'></box-icon>
            <box-icon id='burger-button' name='menu' rotate='180' color='#ffffff' onclick="openBurger()"></box-icon>
        </div>
        <div class="language-switcher">
            <select id="language-select" onchange="changeLanguage(this.value)">
                <option value="en">EN</option>
                <option value="fr">FR</option>
            </select>
        </div>
    </header>
    <div class="jersey__container">
        <div class="product__image"></div>
        <div class="product__display">
            <div class="product__infos"></div>
            <div class="product__sizes">
                <div class="size__buttons">
                    <a id="1" class="size__button">XS</a>
                    <a id="2" class="size__button">S</a>
                    <a id="3" class="size__button">M</a>
                    <a id="4" class="size__button">L</a>
                    <a id="5" class="size__button">XL</a>
                    <a id="6" class="size__button">2XL</a>
                </div>
            </div>
            <div class="product__stock"></div>
            <div class="product__price">
                <div class="price__value"></div>
            </div>
        </div>
    </div>
</main>

<script src="/public/js/burger.js"></script>
<script src="/public/js/jersey.js"></script>
<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</body>

</html>