<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="/public/css/header.css">
    <link rel="stylesheet" href="/public/css/login.css">
</head>

<body>

    <div class="navigation-menu">
        <ul>
            <li class="burger__liste"><a href="/teams">Teams</a></li>
            <li class="burger__liste"><a href="/shop">Shop</a></li>
            <li class="burger__liste"><a id="login__burger__button" href="/login">Login</a></li>
            <li class="burger__liste"><box-icon name='basket' type='solid' color='#000000'></box-icon></li>

        </ul>
    </div>

    <main class="container">
        <header class="home__header">
            <div class="left__header__content">
                <a href="/" class="purple__title">Jersey<span class="white__title">shop</span></a>
            </div>
            <div class="mid__header__content">
                <a id="teams__page__button" href="/teams">Teams</a>
                <a id="shop__page__button" href="/shop">Shop</a>
            </div>
            <div class="right__header__content">
                <a href="/login">Login</a>
                <box-icon name='basket' type='solid' color='#ffffff'></box-icon>
            </div>
            <div class="burger-menu">
                <box-icon id="basket-button" name='basket' type='solid' color='#ffffff'></box-icon>
                <box-icon id='burger-button' name='menu' rotate='180' color='#ffffff' onclick="openBurger()"></box-icon>
            </div>
        </header>

        <main class="main__container">
            <div class="login__container">
                <form id="loginForm">
                    <h1>Connexion</h1>
                    <label for="email">E-mail:</label>
                    <input type="email" id="email" name="email" required>
                    <label for="password">Mot de passe:</label>
                    <input type="password" id="password" name="password" required>
                    <span id="error__message"></span>
                    <button type="submit">Connexion</button>
                    <span id="register__link">Pas encore de compte ? <a href="/register">S'inscrire</a></span>
                </form>
            </div>
        </main>
    </main>
    <script src="/public/js/login.js"></script>
    <script src="/public/js/burger.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</body>

</html>