<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion</title>
    <link rel="stylesheet" href="/public/css/header.css">
    <link rel="stylesheet" href="/public/css/login.css">
    <link rel="stylesheet" href="/public/css/panier.css">
</head>

<body>

    <%- include('burger_menu.ejs') %>

    <%- include('panier.ejs') %>

    <main class="container">

        <%- include('header.ejs') %>
        
        <main class="main__container">
            <div class="login__container">
                <form id="loginForm">
                    <h1>Connexion</h1>
                    <label for="email">E-mail:</label>
                    <input type="email" id="email" name="email" required>
                    <label for="password">Mot de passe:</label>
                    <input type="password" id="password" name="password" required>
                    <span id="error__message"></span>
                    <button type="submit">Connexion</button>
                    <span id="register__link">Pas encore de compte ? <a href="/register">S'inscrire</a></span>
                </form>
            </div>
        </main>
    </main>
    <script src="/public/js/panier.js"></script>
    <script src="/public/js/login.js"></script>
    <script src="/public/js/burger.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</body>

</html>