<div class="panier__popup">
    <div class="panier__popup__content">
        <box-icon class="invert__color" name='x'></box-icon>
        <h2 class="panier__title">Panier</h2>
        <div class="panier__popup__products" id="panier__popup__products"></div>
        <div class="panier__popup__total">
            <h4 class="panier__price">Total : <span id="panier__popup__total">0</span>€</h4>
        </div>
        <div class="panier__popup__buttons">
            <button id="redirect__payment">Payment</button>
        </div>
    </div>
</div>