<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/header.css">
    <link rel="stylesheet" href="/public/css/profile.css">
    <link rel="stylesheet" href="/public/css/panier.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <%- include('burger_menu.ejs') %>

    <%- include('panier.ejs') %>

    <main class="container">
        <%- include('header.ejs') %>

        <div class="profile__menu">
            <p id="infos" class="underline">infos</p>
            <p id="activities">activities</p>
        </div>

        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="profile-slide">
                        <div class="display__profile">
                            <div class="infos__display">
                                <p id="first__name"></p>
                                <p id="created__at"></p>
                                <a id="email"></a>
                                <a id="reset__pwd">Edit password</a>
                                <a id="logout__button">Déconnexion</a>
                            </div>
                            <div class="stats__display">
                                <div class="info__text__display">
                                    <p id="total__orders">2</p>
                                    <p>Orders</p>
                                </div>
                                <div class="info__text__display">
                                    <p id="total__reviews">3</p>
                                    <p>Reviews</p>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="activities__container"></div>
                </div>
            </div>
        </div>


        <div id="logoutPopup" class="popup">
            <div class="popup-content">
                <span class="close-button" onclick="togglePopup()">&times;</span>
                <h2>Êtes-vous sûr de vouloir vous déconnecter?</h2>
                <button id="confirmLogout">Oui</button>
                <button onclick="togglePopup()">Non</button>
            </div>
        </div>





    </main>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="/public/js/panier.js"></script>
    <script src="/public/js/profile.js"></script>
    <script src="/public/js/burger.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</body>

</html>