<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/header.css">
    <link rel="stylesheet" href="/public/css/profile.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css">
</head>

<body>
    <div class="navigation-menu">
        <ul>
            <li class="burger__liste"><a href="/teams">Teams</a></li>
            <li class="burger__liste"><a href="/shop">Shop</a></li>
            <li class="burger__liste"><a id="login__burger__button" href="/profile">Login</a></li>
            <li class="burger__liste"><box-icon name='basket' type='solid' color='#000000'></box-icon></li>

        </ul>
    </div>

    <main class="container">
        <header class="home__header">
            <div class="left__header__content">
                <a href="/" class="purple__title">Jersey<span class="white__title">shop</span></a>
            </div>
            <div class="mid__header__content">
                <a href="/teams">Teams</a>
                <a href="/shop">Shop</a>
            </div>
            <div class="right__header__content">
                <a id="login__button"></a>
                <box-icon name='basket' type='solid' color='#ffffff'></box-icon>
            </div>
            <div class="burger-menu">
                <box-icon id="basket-button" name='basket' type='solid' color='#ffffff'></box-icon>
                <box-icon id='burger-button' name='menu' rotate='180' color='#ffffff' onclick="openBurger()"></box-icon>
            </div>
        </header>

        <div class="profile__menu">
            <p id="infos" class="underline">infos</p>
            <p id="activities">activities</p>
        </div>

        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="display__profile">
                        <div class="infos__display">
                            <p id="first__name"></p>
                            <p id="created__at"></p>
                            <a id="email"></a>
                            <a id="reset__pwd">Edit password</a>
                            <a id="logout__button">Déconnexion</a>
                        </div>
                        <div class="stats__display">
                            <div class="info__text__display">
                                <p id="total__orders">2</p>
                                <p>Orders</p>
                            </div>
                            <div class="info__text__display">
                                <p id="total__reviews">3</p>
                                <p>Reviews</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="swiper-slide">Slide 2</div>
            </div>
        </div>


        <div id="logoutPopup" class="popup">
            <div class="popup-content">
                <span class="close-button" onclick="togglePopup()">&times;</span>
                <h2>Êtes-vous sûr de vouloir vous déconnecter?</h2>
                <button id="confirmLogout">Oui</button>
                <button onclick="togglePopup()">Non</button>
            </div>
        </div>





    </main>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="/public/js/profile.js"></script>
    <script src="/public/js/burger.js"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</body>

</html>