<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team</title>
    <link rel="stylesheet" href="/public/css/team.css">
</head>

<body>
<div class="navigation-menu">
    <ul>
        <li class="burger__liste"><a href="/teams">Teams</a></li>
        <li class="burger__liste"><a href="#shop">Shop</a></li>
        <li class="burger__liste"><a href="#login">Login</a></li>
        <li class="burger__liste"><box-icon name='basket' type='solid' color='#000000'></box-icon></li>

    </ul>
</div>

<main class="container">
    <header class="home__header">
        <div class="left__header__content">
            <a href="/" class="purple__title">Jersey<span class="white__title">shop</span></a>
        </div>
        <div class="mid__header__content">
            <a id="teams__page__button" href="/teams">Teams</a>
            <a id="shop__page__button" href="/shop">Shop</a>
        </div>
        <div class="right__header__content">
            <p class="login__button">Login</p>
            <box-icon name='basket' type='solid' color='#ffffff'></box-icon>
        </div>
        <div class="burger-menu">
            <box-icon id="basket-button" name='basket' type='solid' color='#ffffff'></box-icon>
            <box-icon id='burger-button' name='menu' rotate='180' color='#ffffff' onclick="openBurger()"></box-icon>
        </div>
        <div class="language-switcher">
            <select id="language-select" onchange="changeLanguage(this.value)">
                <option value="en">EN</option>
                <option value="fr">FR</option>
            </select>
        </div>
    </header>

    <div class="back__button">
        <a href="/teams" class="back__button__link">Retour</a>
    </div>
    <div class="team__display"></div>
    <div class="players__display"></div>
</main>

<script src="/public/js/team.js"></script>
<script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
</body>

</html>