.title {
    margin-top: 6.5rem;
    font-size: 4.5rem;
    font-weight: bold;
    text-align: center;
}

.description {
    color: #5f3dc4;
    margin: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

.main__image__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.main__image__container img {
    border-radius: 10%;
    width: 50%;
}

.bottom__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.bottom__content h3 {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    margin: 1rem;
}

.bottom__content span {
    color: #5f3dc4;
}

.bottom__content img {
    cursor: pointer;
    margin: 2rem;
    width: 50%;
}


.home__header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #090E16;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.container {
    padding-top: 70px;
}


.burger__liste {
    list-style: none;
    margin: 2rem;
}

.burger__liste a {
    color: black;
    text-decoration: none;
}

@media screen and (max-width: 1050px) {
    .title {
        font-size: 3rem;
        margin-top: 8rem;
    }

    .bottom__content img {
        width: 70%;
    }

}


@media only screen and (max-width: 431px) {

    .hero img {
        transform: scale(1);
        margin-top: 5vh;
    }

    .hero {
        height: 40vh;
    }

    .mid__header__content,
    .right__header__content {
        display: none;
    }


    .left__header__content {
        margin-left: 10px;
        width: 50%;
    }

    .burger-menu {
        display: flex;
        right: 10%;
        gap: 2rem;
    }

    .language-switcher {
        display: none;
    }
}