@font-face {
    font-family: 'main-font';
    src: url('../fonts/main-font.otf') format('opentype');
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #383838;
    font-family: 'poppins', sans-serif;
}

.swiper {
    width: 70%;
}



#tranding {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    height: auto;
    width: 100%;
}

.tranding-slide-content {
    text-align: center;
}

.tranding-slide-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-name {
    color: white;
}

.season-year {
    color: white;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
    display: none;
}

/* Style de la page */

h1 {
    color: #82CCD1;
    text-align: center;
    font-size: 80px;
}

.background-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/background-imgs/dr10.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.3;
}