@font-face {
    font-family: 'main-font';
    src: url('../fonts/main-font.otf') format('opentype');
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    background-color: #383838;
}

#tranding {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    height: auto;
    width: 60rem;
}

.tranding-slide-content {
    text-align: center;
}

.tranding-slide-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-name {
    color: white;
    font-family: Arial, sans-serif;
}

.season-year {
    color: white;
    font-family: Arial, sans-serif;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
    display: none;
}

/* Style de la page */

h1 {
    color: white;
    font-family: main-font, sans-serif;
    text-align: center;
    font-size: 80px;
}
.background-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/background-imgs/G2-BACKGROUND.png');
    background-size: cover;
    background-position: center;
    opacity: 0.06;
}