.right__header__content a {
    color: #5F3dc4;
}

/* Affichage du formulaire de connexion */

.main__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 70%;
    margin: 0 auto;
}

.login__container {
    margin-top: 4rem;
    width: fit-content;
    padding: 2.5rem 3rem;
    background-color: #090E16;
    border-radius: 8px;
    border: solid 1px #5f3dc4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#loginForm {
    display: flex;
    flex-direction: column;
}

#loginForm h1 {
    text-align: center;
    margin-bottom: 2rem;
}

#loginForm input {
    padding: 10px;
    border-radius: 5px;
    border: solid 1px #5f3dc4;
}

#loginForm label {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

#loginForm button {
    margin-top: 3rem;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px #5f3dc4;
    background-color: #5f3dc4;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#error__message {
    text-align: center;
    color: red;
    font-weight: bold;
    margin-top: 1rem;
}

#loginForm button:hover {
    background-color: #090E16;
    color: #5f3dc4;
}

#loginForm button:active {
    background-color: #5f3dc4;
    color: white;
}

#register__link {
    margin-top: 1rem;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .main__container {
        width: 100%;
    }

    .login__container {
        width: 80%;
    }

}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .login__container {
        width: 50%;
    }

    .main__container {
        width: 100%;
    }
}