
.payment__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.payment__infos {
    display: flex;
    flex-direction: column;
    background-color: rgba(95, 61, 196, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #5F3dc4;
    margin-top: 20px;
}

.card__info__text {
    margin-top: 20px;
    font-size: 1rem;
    color: white;
}

.card__more__infos {
    display: flex;
    flex-direction: row;
    margin-top: 0.5rem;
}

.pay__btn {
    background-color: #5F3dc4;
    border: 2px solid white;
    width: 30%;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 1rem;
    cursor: pointer;
}

.pay__btn:hover {
    background-color: white;
    color: #5F3dc4;
    border: 2px solid #5F3dc4;
}
.payment__amount {
    color: black;
}

.payment__amount {
    color: white;
}

.payment__amount h2 {
    text-align: center;
    font-size: 1.5rem;
}

.payment__amount p {
    margin-top: 10px;
}

.card__more__infos__left .card__input {
    width: 90%;
    padding: 10px;
}

.card__input {
    border-radius: 10px;
    width: 100%;
    padding: 10px;
}

.payment__btn__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card__info__name {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#amount__panier {
    margin-top: 2rem;
    font-weight: bold;
}

#error__message {
    text-align: center;
    color: red;
    font-size: 1rem;
    margin-top: 1rem;
}

#panier__button {
    display: None;
}

.empty__panier {
    margin-top: 10rem;
}

/* Success page */

.payment__success {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10rem;
}

.payment__success h1 {
    font-size: 3rem;
}

.payment__success p {
    font-size: 2rem;
    margin-top: 1rem;
}

.payment__success span {
    color: #5F3dc4;
    cursor: pointer;
    font-weight: bold;
}

.payment__success a {
    text-decoration: none;
    color: white;
    background-color: #5F3dc4;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 1rem;
}

/* Adresse livraison */

.input {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.input:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0,123,255,0.5);
}

.list {
    color: black;
    width: 32%;
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-radius: 4px;
    max-height: 150px;
    overflow-y: auto;
    background-color: white;
    position: absolute;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.list-item {
    padding: 10px;
    cursor: pointer;
}

.list-item:hover {
    background-color: #f0f0f0;
}