.panier__popup {
    display: flex;
    position: fixed;
    right: -45%;
    top: 0;
    width: 35%;
    height: 100vh;
    background-color: #090E16;
    border-left: 1px solid #5F3dc4;
    text-align: center;
    z-index: 1000;
    transition: right 0.5s;
    color: white;
    border-radius: 10px 0 0 10px;
}


.invert__color {
    position: absolute;
    top: 5%;
    left: 5%;
    filter: invert(1);
}

.panier__popup__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: relative;
    gap: 1rem;
    width: 100%;
    height: 100%;
}

.panier__title {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.5rem;
    font-weight: bold;
}

.panier__price {
    font-size: 1.25rem;
    font-weight: bold;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.panier__product {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;

}

.panier__popup__products {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 20%;
    width: 100%;
    height: 70%;
    overflow-y: auto;
}

.product__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
}

.product__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.panier__img {
    width: 100px;
    height: 100px;
}

.quantity__minus,
.quantity__plus {
    cursor: pointer;
    font-size: 0.5rem;
    font-weight: bold;
    padding: 2px;
    background-color: #5F3dc4;
    color: white;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 5px;
}

.quantity__number {
    font-size: 0.8rem;
    font-weight: bold;
}