/* Header catégorie */

.profile__header {
    text-align: center;
    margin-top: 5vh;
    font-size: 40px;
}

#infos {
    cursor: pointer;
}

#activities {
    cursor: pointer;
}

/* Affichage du profile */


.display__profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15vw;
}

/* infos du profile */

.infos__display {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

#first__name {
    font-size: 40px;
}

#email {
    padding: 15px 20px;
    background-color: #5f3dc4;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 40px;
}

#reset__pwd {
    padding: 15px 20px;
    background-color: #5f3dc4;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 40px;
}


#logout__button {
    text-align: center;
    padding: 15px 20px;
    background-color: red;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 40px;
}

#logout__button:hover {
    cursor: pointer;
}

/* Stats du profile */

.stats__display {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    font-weight: bold;
}

.info__text__display {
    font-size: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

/* Styles pour la popup de déconnexion */

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    color: black;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    text-align: center;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.popup button {
    margin: 50px 30px 0 30px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.popup button#confirmLogout {
    background-color: white;
    border: 1px solid black;
    color: black;
}

.popup button:not(#confirmLogout) {
    background-color: white;
    border: 1px solid black;
    color: black;
}

.popup button#confirmLogout:hover {
    color: #90EE90;
    border: 1px solid #90EE90;
}

.popup button:not(#confirmLogout):hover {
    color: red;
    border: 1px solid red;
}

.swiper {
    width: 100%;
    height: 50vh;
}

.profile-slide {
    text-align: center;
    font-size: 18px;
    background: #090E16;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    font-size: 2rem;
    width: 100%;
    height: 30vh;
    color: white;
    font-weight: bold;
}

#infos {
    color: #5f3dc4;
}

.underline {
    position: relative;
}

.underline::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: #5f3dc4;
    width: 150%;
    animation: slideBorder 0.5s forwards;
}

@keyframes slideBorder {
    from {
        width: 0;
    }

    to {
        width: 150%;
    }
}

#activities {
    color: grey;
}

@media only screen and (max-width: 431px) {

    .hero img {
        transform: scale(1);
        margin-top: 5vh;
    }

    .hero {
        height: 40vh;
    }

    .mid__header__content,
    .right__header__content {
        display: none;
    }


    .left__header__content {
        margin-left: 10px;
        width: 50%;
    }

    .burger-menu {
        display: flex;
        right: 10%;
        gap: 2rem;
    }

    .language-switcher {
        display: none;
    }

    .profile__menu {
        font-size: 1.25rem;
        gap: 6rem;
    }

    .display__profile {
        flex-direction: column;
        gap: 5vh;
    }

    .stats__display {
        font-size: 0.8rem;
        flex-direction: row;
        gap: 5vw;
    }

    .info__text__display {
        font-size: 2rem;
    }

    .infos__display {
        font-size: 0.8rem;
        padding: 10px 20px;
        gap: 1.5vh;
    }

    #email,
    #reset__pwd,
    #logout__button {
        border-radius: 25px;
    }

    #created__at {
        margin-bottom: 10px;
    }
}

/* Affichage des activités */

.activities__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
    margin-top: 5vh;
    overflow-y: auto;
}

.activity {
    background-color: #5F3dc4;
    width: auto;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid white;
    display: flex;
    flex-direction: row;
    gap: 5vw;
}

.activity i {
    font-size: 100px;
}

.activity__info {
    gap: 1vh;
}

.swiper-slide {
    height: 80vh;
}
