.right__header__content a {
    color: #5F3dc4;
}

/* Affichage du formulaire de connexion */

.main__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
}

.register__container {
    margin: 0 auto;
    width: 400px;
    padding: 20px;
    background-color: #090E16;
    border-radius: 8px;
    border: solid 1px #5f3dc4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#registerForm {
    display: flex;
    flex-direction: column;
}

#registerForm h1 {
    text-align: center;
    margin-bottom: 1rem;
}

#registerForm input {
    padding: 10px;
    border-radius: 5px;
    border: solid 1px #5f3dc4;
}

#registerForm label {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

#registerForm button {
    margin-top: 3rem;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px #5f3dc4;
    background-color: #5f3dc4;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#error__message {
    text-align: center;
    color: red;
    font-weight: bold;
    margin-top: 1rem;
}

#registerForm button:hover {
    background-color: #090E16;
    color: #5f3dc4;
}

#registerForm button:active {
    background-color: #5f3dc4;
    color: white;
}

#login__link {
    margin-top: 1rem;
    text-align: center;
}

@media screen and (max-width: 769px) {
    .register__container {
        width: 70%;
    }

    .main__container {
        margin-top: 12vh;
    }

}

@media screen and (max-width: 430px) {
    .register__container {
        width: 85%;
    }

}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .main__container {
        margin-top: 12vh;
    }

    .register__container {
        width: 50%;
        height: 650px;
        padding: 40px 25px;

    }
}