#shop__page__button {
    color: #5f3dc4;
}


/* Affichage de la boutique */

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10vh;
    background:
        linear-gradient(90deg, rgba(255, 255, 255, 0.08) 1px, transparent 1px),
        linear-gradient(rgba(255, 255, 255, 0.08) 1px, transparent 1px),
        #090E16;
    background-size: 160px 160px;
}

/* Barre de navigation */


.search__bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

#search__input {
    width: 30%;
    text-decoration: none;
    padding: 10px;
    border: 3px solid #5f3dc4;
    border-radius: 10px;
    background-color: #090E16;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}

#search__input::placeholder {
    color: white;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.product {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-basis: calc(33.33% - 2rem);
    padding: 3rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    transition: 0.2s;
    cursor: pointer;
    width: 20%;
    font-size: 1em;
}


.product:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.product img {
    width: 65%;
    height: 90%;
}

h3 {
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.product__price {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
}

@media only screen and (max-width: 431px) {
    .products {
        margin-left: 1rem;
        margin-right: 1rem;
        gap: 1.5rem;
        justify-content: center;
    }

    .product {
        flex-basis: calc(50% - 2rem);
    }

    h3 {
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 768px) and (min-width: 432px) {
    .products {
        margin-left: 1rem;
        margin-right: 1rem;
        gap: 1.5rem;
        justify-content: center;
    }

    .product {
        flex-basis: calc(50% - 2rem);
    }

    h3 {
        font-size: 1.1rem;
    }

}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    .products {
        margin-left: 1rem;
        margin-right: 1rem;
        gap: 1.5rem;
        justify-content: center;
    }

    .product {
        flex-basis: calc(50% - 2rem);
    }

    h3 {
        font-size: 1.1rem;
    }

}

.pagination__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

#previous__page__button {
    padding: 10px;
    border: 3px solid #5f3dc4;
    border-radius: 10px;
    background-color: #090E16;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

#previous__page__button:hover {
    background-color: #5f3dc4;
    color: white;
}

#next__page__button:hover {
    background-color: #5f3dc4;
    color: white;
}

#next__page__button {
    padding: 10px;
    border: 3px solid #5f3dc4;
    border-radius: 10px;
    background-color: #090E16;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}

#page_number {
    padding: 10px;
    border: 3px solid #5f3dc4;
    border-radius: 10px;
    background-color: #090E16;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
}