#teams__page__button {
    color: #5f3dc4;
}

/* Affichage des équipes */

.all__teams__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.teams_row_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    margin-top: 2rem;
}

.team__card {
    cursor: pointer;
    position: relative;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    border: solid white 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}



/*  pour téléphone */
@media (max-width: 768px) {
    .team__card {
        width: 80%;
        margin: 0 auto;
        height: 400px;
    }
}


.team__card__flag {
    width: 20%;
    margin: 5px;
}

.team__card__flag img {
    border-radius: 100px;
}

.team__card__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team__card__logo img {
    width: 50%;
}

.team__card__name {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}


.team__card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-image: var(--hover-background-image);
    background-size: cover;
    background-position: center;
}


.error__message {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
}

.error__message p {
    font-family: 'Roboto', sans-serif;
}

.team__filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}

#serveurOrigin {
    background-color: #5f3dc4;
    color: white;
    padding: 8px 30px 8px 8px;
    border-radius: 10px;
    font-size: 1.2rem;
    border: solid white 2px;
    text-decoration: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="white" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px 16px;
    cursor: pointer;
}

#serveurOrigin:focus,
#serveurOrigin:active {
    outline: none;
    background-color: #5f3dc4;
    color: white;
    border: solid white 2px;
}

select::-ms-expand {
    display: none;
}


@media screen and (max-width: 450px) {
    #serveurOrigin {
        padding: 8px 20px 8px 8px;
        margin-top: 3rem;
    }
}

@media screen and (max-width: 1050px) and (min-width: 450px) {
    #serveurOrigin {
        margin-top: 6rem;
    }

    .team__card {
        width: 28%;
        margin: 0 auto;
        height: 250px;
    }

    .teams_row_container {
        gap: 1.5rem;
    }

}